.space {
  position: relative
}

.conversations-list {
  width: 240px;
  min-height: 200px;
  height: fit-content;
  border-radius: 10px;
  background-color: rgb(31, 41, 55);
  position: absolute;
  top: 90px;
  left: 20px;
  overflow-x: hidden;
}

.conversations-list h1 {
  font-size: 20px;
  text-align: center;
  color: white;
  margin: 10px 0;
  
}

.chat-list-row {
  margin: 10px 10px;
  cursor: pointer;
  color: white;
  background-color: rgb(6, 6, 30);
  padding: 10px 12px;
  border-radius: 10px;
  &:hover {
    background-color: rgb(15, 15, 48);
  }
}
.chat-list-row img {
  height: 30px;
}

.chat-partners {
  width: 47%;
}

.chat-list-row img {
  width: 30px;
  border-radius: 20%;
  display: inline-block;
  margin-right: 10px;
}

.find-new-conversation {
  width: 700px;
  position: absolute;
  top: 20%;
  left: 30%;
  /* border: 2px solid black; */
  flex-shrink: 0;
  flex-flow: row wrap;
  justify-content: flex-start;
}